@model SavingsViewModel
@using PocketBudget.Extensions
@using Business.Models

<div>
    @Html.LabelFor(m => m.Amount)
</div>
<div>
    @Html.RadioButtonFor(m => m.Type, SavingsType.Fixed, htmlAttributes: new { id = "target-savings-fixed", @class ="graph-updater pattern",
        data_value = Model.Amount, data_for = Html.GetFullHtmlFieldId(m => m.Amount), @checked ="checked" })
    <label for="target-savings-fixed">Фіксована сума</label>
    @Html.RadioButtonFor(m => m.Type, SavingsType.Percentage, htmlAttributes: new { id = "target-savings-percentage", @class = "graph-updater pattern",
        data_value = 20, data_for = Html.GetFullHtmlFieldId(m => m.Amount) })
    <label for="target-savings-percentage">Відсотки від зарплати</label>
    <span class="field-validation-valid" data-valmsg-for="@Html.GetFullHtmlFieldName(m => m.Type)" data-valmsg-replace="true"></span>
</div>
<div>
    @Html.TextBoxFor(m => m.Amount, new { @class = "graph-updater", type = "number" })
    @Html.ValidationMessageFor(m => m.Amount)
</div>