@model PocketBudget.Models.AdditionalPathViewModel
<div class="edit-finances-content">
    <div class="edit-finances-tabs-header">
        <span class="edit-finances-header">Доходи</span>
        <span class="edit-finances-header">Витрати</span>
    </div>
    <div class="edit-finances-tabs-wrapper">
        <div class="edit-finances-tab additional-path-income active">
            <div>
                <span>Додаткові доходи з віку </span>
                @Html.EditorFor(m => m.From)
            </div>
            <ul>
                <li class="additional-path-item">
                    <div>
                        <div>
                            @foreach (var deposit in Model.AdditionalIncome.Deposits)
                            {
                                var totalId = deposit.CurrencyId + "total";
                                var yearsId = deposit.CurrencyId + "years";
                                var percentageId = deposit.CurrencyId + "percentage";
                                var visibilityClass = deposit.IsActive ? "active" : "hidden";
                                var selected = deposit.IsActive ? "checked" : "";
                                <p>
                                    <input id="@deposit.CurrencyId" type="radio" name="deposit" class="deposit-input" value="@deposit.CurrencyId" @selected />
                                    <label class="text-strategy" for="@deposit.CurrencyId">@GetDepositTitle(deposit.CurrencyId) (@string.Format("{0:0.00}% річних", deposit.Percentage))</label>
                                    <input type="hidden" name="@percentageId" class="hidden" value="@deposit.Percentage" />
                                    <input id="@totalId" type="number" name="@totalId" class="deposit-input @visibilityClass" value="@deposit.Total" />
                                    <input id="@yearsId" type="number" name="@yearsId" class="deposit-input @visibilityClass" value="@deposit.Years" />
                                </p>
                            }
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="edit-finances-tab additional-path-costs hidden">

        </div>
    </div>
</div>

@functions
{
    public string GetDepositTitle(string currencyId)
    {
        switch(currencyId)
        {
            case "euro": return "Депозит в євро";
            case "dollar": return "Депозит в доларах";
            default: return "Депозит в гривнях";
        }
    }
}