@model PocketBudget.Models.AdditionalFinancesViewModel
<div class="edit-finances-content">
    <div class="edit-finances-tabs-header">
        <span class="edit-finances-header">Доходи</span>
        <span class="edit-finances-header">Витрати</span>
    </div>
    <div class="edit-finances-tabs-wrapper">
        <div class="edit-finances-tab active" data-tab="income">
            <div>
                <span>Керування фінансами у віці </span>
                @Html.EditorFor(m => m.FromAge)
            </div>
            <div>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header active">
                            <i class="icon icon-deposit"></i>
                            Покласти гроші на депозит
                        </div>
                        <div class="collapsible-body">
                            <div>
                                @*//TODO:
                                @for (int i = 0; i < Model.Deposits.Count; ++i)
                                {
                                     @Html.Partial("_EditDeposit")
                                }*@

                                @foreach (var deposit in Model.Deposits)
                                {
                                    var inputId = deposit.CurrencyId + "-value";
                                    var visibilityClass = deposit.IsActive ? "active" : "hidden";
                                    <p>
                                        <input id="@deposit.CurrencyId" type="radio" name="income" class="input-strategy graph-updater" value="@deposit.CurrencyId" checked />
                                        <label class="text-strategy" for="@deposit.CurrencyId">Депозит в гривнях</label>
                                        <input id="@inputId" type="number" name="@inputId" class="graph-updater deposit-input @visibilityClass" value="@deposit.Total" />
                                    </p>
                                }
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                        </div>
                        <div class="collapsible-body">
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="edit-finances-tab hidden" data-tab="costs">

        </div>
    </div>
</div>