@model PocketBudget.Models.PathViewModel
@{
    Layout = "~/Views/Shared/_Base.cshtml";
    var test = Model;
}

<div>
    @using (Html.BeginForm("GetChartLines", "Home", FormMethod.Post, htmlAttributes: new { id="path-form" }))
    {
        <div class="budget-block row">
            <div id="chart-block-new" style="width:900px; height:800px;" class="col s6">
                <canvas id="chart"></canvas>
            </div>
            <div class="col s4">
                <div class="edit-salary">
                    @Html.EditorFor(m => m.Salary)
                </div>
                <div class="edit-savings">
                    @Html.EditorFor(m => m.Savings)
                </div>
                <div class="pension">
                    @Html.EditorFor(m => m.Pension)
                </div>
                <div class="edit-spendings">
                    @Html.EditorFor(m => m.Spendings)
                </div>
                <div class="edit-age">
                    <p>
                        @Html.LabelFor(m => m.CurrentAge)
                        @Html.TextBoxFor(m => m.CurrentAge, htmlAttributes: new { @class="graph-updater current-age", type="number" })
                    </p>
                    <p>
                        @Html.LabelFor(m => m.RetirementAge)
                        @Html.TextBoxFor(m => m.RetirementAge, htmlAttributes: new { @class = "graph-updater retirement-age", type = "number" })
                    </p>
                    <p>
                        @Html.LabelFor(m => m.LifeExpectancy)
                        @Html.TextBoxFor(m => m.LifeExpectancy, htmlAttributes: new { @class = "graph-updater life-expectancy-age", type = "number" })
                    </p>
                </div>
            </div>
        </div>
    }
</div>
<div id="tooltip-element-content">@Html.Partial("_ChartTooltip")</div>
<div id="tooltip-element"></div>

<script type="text/javascript">
    var PersonalFinances = PersonalFinances || {};
    PersonalFinances.Path = PersonalFinances.Path || {};
</script>

@functions
{
    protected string When(bool condition, string then, string otherwise = null)
    {
        return condition ? then : otherwise;
    }
}